doctype html
html
    head
        meta(charset="utf-8")
        title #LOWREZJAM 2017
        link(rel="stylesheet", href="./main.css")
    body
        #blocker
            #notice-container
                #notice
                    h1 Paused
                    p click to resume

        .flex-container
            .flex-row
                #g

        script#water-surface-vert(type="x-shader/x-vertex")
            include assets/shader/water-surface-vert.glsl
            
        script#water-surface-frag(type="x-shader/x-fragment")
            include assets/shader/water-surface-frag.glsl
        
        script(src="./three.js")
        script(src="./main.js", async)