doctype html
html
    head
        meta(charset="utf-8")
        title make sail
        link(rel="stylesheet", href="./main.css")
    body
        #blocker
            #notice-container
                #notice
                    h1 Paused
                    p click to resume

        .flex-container
            .flex-row
                #g
            #d
        
        script(src="./three.js")
        script(src="./main.js", async)