doctype html
html
    head
        meta(charset="utf-8")
        title #LOWREZJAM 2017
        link(rel="stylesheet", href="./main.css")
    body
        #blocker
            #notice-container
                #notice
                    h1 Paused
                    p click to resume
        #g
        
        script(src="./three.js")
        script(src="./main.js", async)